<!DOCTYPE html>
{% load static %}
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liga ETc</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'poze/logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md custom-navbar navbar-light">
            <div class="container">
                <a href="/">
                    <img src="{% static 'poze/logo.png' %}" alt="Logo" class="logo">
                </a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!-- Despre Noi Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="despreNoiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Despre noi
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="despreNoiDropdown">
                                <li><a class="dropdown-item" href="desprenoi/lsfetc">LSFETc</a></li>
                                <li><a class="dropdown-item" href="desprenoi/bc">Bc+Cc</a></li>
                                <li><a class="dropdown-item" href="desprenoi/departamente">Departamente</a></li>
                                <li><a class="dropdown-item" href="desprenoi/galerie">Galerie</a></li>
                            </ul>
                        </li>
    
                        <!-- Proiecte Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="proiecteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Proiecte
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="proiecteDropdown">
                                <li><a class="dropdown-item" href="proiecte/esu">ESU</a></li>
                                <li><a class="dropdown-item" href="proiecte/exchange">EXCHANGE</a></li>
                                <li><a class="dropdown-item" href="proiecte/ftfmm">FTFMM</a></li>
                                <li><a class="dropdown-item" href="proiecte/masarotunda">MASA ROTUNDĂ</a></li>
                                <li><a class="dropdown-item" href="proiecte/etf">ETF</a></li>
                                <li><a class="dropdown-item" href="proiecte/new">NEW</a></li>
                            </ul>
                        </li>
    
                        <!-- Anunțuri -->
                        <li class="nav-item"><a class="nav-link" href="anunturi">Anunțuri</a></li>
    
                        <!-- Informații Utile Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Informații utile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="infoDropdown">
                                <li><a class="dropdown-item" href="informatii/blog">Blog</a></li>
                                <li><a class="dropdown-item" href="informatii/studenti-reprezentanti">Studenții Reprezentanți</a></li>
                                <li><a class="dropdown-item" href="informatii/documente">Documente</a></li>
                                <li><a class="dropdown-item" href="informatii/proiecte-vechi">Proiecte Vechi</a></li>
                            </ul>
                        </li>
    
                        <!-- FAQ -->
                        <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
    
                        <!-- Button -->
                        <li class="nav-item">
                            <a href="https://forms.office.com/pages/responsepage.aspx?id=5B-0a6NAEEq2zTgnjniyGnmD2U03SgVHiVq-MjlrkaxUQjNNMEJTTUU3VUg1MDdNVEM4SFdTRzQ4MC4u&route=shorturl" class="header-button">
                                <img src="{% static 'poze/button.png' %}" alt="Button" class="button-img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    

    <div class="container-fluid text-center my-5">
        <div class="row justify-content-center">
            <div class="col-12">
                {% for poza in pozaprincipala %}
                <img src="{{poza.img.url}}" class="img-fluid w-100" alt="Photo 1">
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container text-center my-5 mt-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 text-center mb-3 mb-md-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
            <div class="col-md-6"><br><br><br><br>
                {% for poza in pozaprincipala %}
                <img src="{{poza.img.url}}" class="d-block w-100 img-fluid rounded" alt="Photo 1"><br><br><br><br>
                {% endfor %}
            </div>
        </div>
    </div>

    <section class="container text-center my-5">
        <h2 class="fw-bold text-dark" style="text-align:left">LSFETc numere</h2>
        <div class="row justify-content-center mt-4">
            {% for n in numere %}
            <div class="col-6 col-md-2">
                <h3 class="stat-number">{{n.numar}}</h3>
                <p class="stat-text">{{n.title}}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <div class="container">
        <h2>Facem parte din:</h2>
        <div class="organizations">
            {% for OrganizatiiPartenere in OrganizatiiPartenere %}
            <div class="org-card">
                <img src="{{OrganizatiiPartenere.img.url}}" class="imag" alt={{OrganizatiiPartenere.alt}}>
                <p>{{OrganizatiiPartenere.nume}}</p>
                <a href="{{OrganizatiiPartenere.link}}">{{OrganizatiiPartenere.site}}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <br><br><br><br><br>


    <footer class="footer">
        <div class="footer-logo-container">
            <img src="{% static 'poze/logo-white.png' %}" alt="LIGA ETc Logo" class="footer-logo">
            <div class="footer-social-icons">
                <a href="https://www.facebook.com/profile.php?id=100095451378455" target="_blank">
                    <img src="{% static 'poze/facebook-icon.png' %}" alt="Facebook" class="social-icon">
                </a>
                <a href="https://www.instagram.com/lsfetc.timisoara?igsh=bnZiMmxnN2RhcjIw" target="_blank">
                    <img src="{% static 'poze/instagram-icon.png' %}" alt="Instagram" class="social-icon">
                </a>
                <a href="https://www.tiktok.com/@lsfetc.timisoara?_t=ZN-8uZiB8Ie4tK&_r=1" target="_blank">
                    <img src="{% static 'poze/tiktok-icon.png' %}" alt="TikTok" class="social-icon">
                </a>
                <a href="mailto:office@lsfetc.ro">
                    <img src="{% static 'poze/email-icon.png' %}" alt="Email" class="social-icon">
                </a>
            </div>
        </div>
        <div class="footer-links">
            <p><a href="contact">Contact</a></p>
            <p><a href="https://redirectioneaza.ro/lsfetc/">Donează 3.5</a></p>
        </div>
    </footer>


</html>